* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.btn {
  font-size: 1rem;
  margin: 4px;
  color: #252525;
  background-color: #fff;
  padding: 6px 10px;
  cursor: pointer;
  border: 1px solid #252525;
}

.btn:focus {
  outline: 3px solid rgb(181, 113, 249);
}

.btn::-moz-focus-inner {
  border: 0;
}

.btn.btn-icon {
  line-height: 1;
  padding: 0.75rem 1rem;
  color: #252525;
  background-color: #fff;
  border: 1px solid #252525;
  font-size: 1.5rem;
}

.btn.btn-lg {
  font-size: 22px;
}

.btn.btn-primary {
  color: #fff;
  background-color: #252525;
}

.row {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

.col {
  height: 100vh;
  overflow: scroll;
  padding: 10px;
}

.left {
  width: 35%;
  max-width: 400px;
  min-width: 300px;
}

.right {
  width: 65%;
}

.error {
  color: red;
}

.directions ul {
  padding-left: 12px;
}

.directions li {
  margin-bottom: 4px;
}

#mocha {
  margin: 10px;
}

#mocha .test h2 {
  font-size: 12pt;
}



/* -------------------------------------------------------------------------- *\
 * Necessary styling for the dialog to work
 * -------------------------------------------------------------------------- */


/**
 * When `<dialog>` is not supported, its default display is `inline` which can
 * cause layout issues.
 */
 dialog[open] {
  display: block;
}

/**
 * 1. When `<dialog>` is properly supported, the overlay is implied and can be
 * styled with `::backdrop`, which means the DOM one should be removed.
 */
.dialog[data-a11y-dialog-native] .dialog-overlay, /* 1 */
.dialog:not([data-a11y-dialog-native])[aria-hidden="true"],
.dialog[aria-hidden="true"] .dialog-overlay {
  display: none;
}

/* -------------------------------------------------------------------------- *\
 * Styling to make the dialog look like a dialog
 * -------------------------------------------------------------------------- */

.dialog-overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.66);
}

.dialog-content {
  background-color: rgb(255, 255, 255);
  z-index: 3;
  position: fixed;
  width: 90%;
  max-width: 1000px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

/* -------------------------------------------------------------------------- *\
 * Form styling
 * -------------------------------------------------------------------------- */

.dialog-content h1 {
  text-align: center;
  font-size: 22pt;
}

.dialog-content form {
  width: 70%;
  margin: 0 auto;
}

.dialog-content .input-group {
  font-size: 18pt;
  display: flex;
  flex-direction: column;
}

.dialog-content .button-group {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.dialog-content .input-group input {
  font-size: 18pt;
}

.dialog-content .input-group textarea {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18pt;
}

.dialog-content .input-group input:focus,
.dialog-content .input-group textarea:focus {
  outline: 3px solid rgb(181, 113, 249);
}

.dialog-content button.close {
  position: fixed;
  top: 16px;
  right: 16px;
}

.dialog-content .submit-response {
  text-align: center;
  margin-top: 13px;
  font-size: 16pt;
  color: blue;
  font-weight: bolder;
}

.dialog-content .submit-response.error {
  color: red;
}